/* ------------------- 480 to 780 screens  ------------------- */

/* ------------------- general css ------------------- */
*{
	display: block;
}

html, body{
	height: 100%;
	width: 100%;
}

.left-column, .main-column, footer.footer-info{
	width: 100%;
}

title{
	display: none;
}

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.clear{
	clear: both;
}

.main-info-480px{
	visibility: hidden;
}


/* ------------------ rows ------------------ */
.left-column{
	height: 20%;
	overflow: hidden;
}

.main-column{
	padding-top: .2%;
	overflow: hidden;
	height: 75%;
}

footer.footer-info{
	overflow: hidden;
	height: 5%;
}



/* ------------------- background ------------------- */
body{
	background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .35)), url('landscape-img-1200x687-bw.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}




/* ------------------- header ------------------- */
header.side-nav{
	width: 100%;
	height: 100%;
	background-color: rgba(12, 12, 12, .3);
}

header.side-nav a.logo-150px{
	float: left;
	width: 20%;
	height: 100%;
	background-image: url("jiehuang-logo-150x150-red.png");
}

header.side-nav nav{
	position: relative;
	float: right;
	margin: auto;
	width: 80%;
	height: 100%;
}

header.side-nav nav ul.nav-list{
	position: absolute;
	width: 100%;
	height: 70%;
	bottom: 0;
}

header nav ul.nav-list li{
	margin-top: 5%;
	width: 33.33%;
	float: left;
	bottom: 0;
}

header nav ul.nav-list li a{
	background-color: rgba(12, 12, 12, 0);
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 1.5em;
	color: white;
	transition: background-color .5s;
	transition: color .5s;
}

header nav ul.nav-list li a:hover{
	background-color: rgba(12, 12, 12, .3);
	color: green;
}




/* ------------------ main contents ------------------ */
main.main-info{
	width: 80%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(12, 12, 12, .45);
	overflow: hidden;
}

main.main-info p.name{
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	font-size: 4rem;
	color: rgba(184, 15, 12, 1);
}

main.main-info ul.description-list{
	border-top: .1em dashed red;
	width: 100%;
}

main.main-info ul.description-list li{
	float: left;
	width: 33.33%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	font-size: 1.3em;
	color: gainsboro;
}



/* ------------------ footer info ------------------ */
footer.footer-info{
	width: 100%;
	background-color: rgba(12, 12, 12, .25);
}

footer.footer-info p.copyright-info{
	width: 100%;
	height: 100%;
	padding-top: 1.5%;
	font-size: .7em;
	text-align: center;
}

span.genitx{
	color: darkred;
	display: inline;
}
