/* ------------------- 480x800 screen or smaller ------------------- */
@media all and (max-width: 480px){
	/* ------------------- hidden items ------------------- */
	header.side-nav{
		display: none;
	}
	main.main-info{
		display: none;
	}
	body footer.footer-info{
		display: none;
	}



	/* ------------------- shown items ------------------- */
	div.main-info-480px{
	}


	/* ------------------- background ------------------- */
	body{
		background: none;
		max-width: 480px;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
	}


	/* ------------------- header ------------------- */
	div.main-info-480px header{
		max-width: 480px;
		width: auto;
		height: 220px;
		background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .35)), url('landscape-img-480x275-bw.jpg');
	}

	div.main-info-480px header a{
		position: relative;
		top: 80px;
		margin: auto;
		display: block;
		height: 200px;
		width: 200px;
		background-image: url('jiehuang-logo-150x150-red.png');
	}


	/* ------------------- main content ------------------- */
	div.main-info-480px div.contents-480px{
		background-color: white;
		height: auto;
		padding: 65px 0 10px 0;
		margin: 0;
	}

	div.main-info-480px div.contents-480px *{
		width: 400px;
		margin: auto;
		height: auto;
		text-align: center;
	}

	div.main-info-480px div.contents-480px h2{
		background-color: rgba(12, 12, 12, .1);
		margin-top: 15px;
		margin-bottom: 5px;
	}

	div.main-info-480px div.contents-480px p{
		font-size: .9em;
		color: red;
		margin-bottom: 5px;
	}

	div.main-info-480px div.contents-480px nav{
		min-height: 60px;
	}

	div.main-info-480px div.contents-480px nav *{
		width: 400px;
		margin: 0;
		padding: 0;
		height: auto;
		text-align: center;
	}

	div.main-info-480px div.contents-480px nav li{
		list-style: none;
		height: 25px;
	}

	div.main-info-480px div.contents-480px nav li:first-child{
		margin-bottom: 10px;
	}

	div.main-info-480px div.contents-480px nav li a{
		display: block;
		font-size: 1.3em;
		background-color: rgba(9, 9, 9, .2);
		text-decoration: none;
		width: 200px;
		margin: auto;
		height: auto;
	}




	/* ------------------- footer ------------------- */
	footer.footer-480px{
		width: auto;
		height: auto;
		margin: auto;
		padding: 0;
		background-color: rgba(12, 12, 12, .25);
	}

	footer.footer-480px p#copyright-info{
		text-align: center;
		font-size: 10px;
		height: auto;
		margin: auto;
		padding: 2px 0;
	}

	footer.footer-480px p#copyright-info span#genitx{
		color: darkred;
	}

}
