/* ------------------- general css ------------------- */
title{
	display: none;
}

*{
	display: block;
}

html, body{
	width: 100%;
	height: auto;
}

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

hr{
	clear: both;
	width: 90%;
	border-radius: 25px;
	border: double red;
	margin: auto;
}

.clear{
	clear: both;
}



/* ------------------ columns ------------------ */
.left-col, .main-col{
	height: auto;
}

.left-col{
	float: left;
	width: 20%;
	/*background-color: blue;*/
}

.main-col{
	float: left;
	width: 60%;
	margin-right: 20%;
	background-color: green;
}




/* ------------------ background ------------------ */
body{
	background-color: white;
}





/* ------------------ side panels ------------------ */
aside.side-nav{
	background-color: rgba(12, 12, 12, .3);
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
}

aside nav{
	width: 100%;
	margin-top: 10%;
}


aside nav ul.nav-list li{
	list-style: none;
	width: 100%;
}

ul.nav-list li a{
	background-color: rgba(12, 12, 12, .1);
	text-decoration: none;
	font-size: 1.6em;
	text-align: center;
	display: block;
	color: white;
	width: 100%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	transition: color .5s, background-color .5s;
}

aside nav ul.nav-list li a:hover{
	background-color: rgba(12, 12, 12, .5);
	color: green;
}






/* ------------------ header in main ------------------ */
header.header-info{
	background-color: red;
	width: 100%;
	margin-bottom: 2%;
	overflow: hidden;
	position: relative;
}

header.header-info a{
	display: block;
	float: left;
	background-color: black;
}


header.header-info div.user-info{
	bottom: 0;
	right: 0;
	width: 60%;
	background-color: green;
	position: absolute;
}

div.user-info h2.name{
	background-color: purple;
	width: 100%;
	text-align: right;
}
div.user-info ul.email-phone-info{
	background-color: yellow;
	overflow: hidden;
	width: 100%;
}

div.user-info ul.email-phone-info li{
	background-color: white;
	width: auto;
	float: right;
	margin-left: 5px;
}

/*main div.up-arrow-hr{
	height: 20px;
	width: 100%;
	background-color: green;
}

div.bot-triangle{
	width: 0;
	height: 0;
	border-bottom: 20px solid red;
	border-left: 20px solid transparent;
}

hr.unique-hr{
	width: 100px;
	height: 10px;
	background-color: red;
	border: none;
}*/






/* ------------------ main contents ------------------ */
main.resume{
	background-color: rgba(12, 12, 12, .2);
	width: 100%;
	margin-top: 5%;
	background-color: blue;
}

main.resume section{
	width: 100%;
	height: auto;
	background-color: yellow;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-bottom: 2%;
}

main.resume section h2{
	font-size: 2em;
	padding-left: 5%;
	width: 95%;
	color: red;
	/*background-color: gray;*/
}

main.resume section h3{
	font-size: 1.2em;
	width: 90%;
	padding-left: 10%;
	margin-top: 1%;
	/*background-color: pink;*/
}

main.resume section p{
	width: 80%;
	margin: auto;
	background-color: red;
}

main.resume section ul{
	width: 80%;
	background-color: brown;
	margin: auto;
	margin-top: 1%;
}

main.resume section ul li{
	list-style: circle;
}






/* ------------------ footer info ------------------ */
footer.footer-info{
	width: 100%;
	background-color: rgba(12, 12, 12, .2);
}

footer.footer-info p.copyright-info{
	text-align: center;
	font-size: .75em;
	padding-top: 1%;
	padding-bottom: 1%;
}

span.genitx{
	display: inline;
	color: darkred;
}

span.genitx:hover{
	color: white;
}
